[project]
name = "linux-rag-t2"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"

[dependency-groups]
dev = [
    "pytest>=8.0",
    "pytest-asyncio>=0.23",
    "mkdocs>=1.6.1",
    "mkdocs-material>=9.6.23",
]
